node_modules
solPayments/node_modules
**/node_modules
.DS_Store


solPayments/node_modulessolPayments/node_modules/
solPayments/.next/

solPayments/node_modules/
solPayments/.next/ 

# Ignore TypeScript incremental build info
solPayments/tsconfig.tsbuildinfo 
